/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* header */

.header__top{
    background-color:#252424;
    grid-area: header;
}

.header__style{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image__logo__width{
    width: 18.75rem;
}

.input__style{
    width: 25vw;
}

.search__btn__color{
    background-color: rgb(133, 187, 231);
}

.cart__btn__color{
    background-color:rgb(63, 211, 142);
}

.user__btn__color{
    background-color: rgb(209, 224, 140);
}

.search__size{
    width: 26px;
    padding: 1px;
}

.usercart__size{
    width: 26px;
    padding: 1px;
}

.cartuser__container{
    padding: 10px;
}

/* menu bar */

.menu__top{
    background-color: #252424;
    grid-area: nav;
    padding: 15px;
}

.contenedor__menus{
    width: 100%;
    display: flex;
    list-style:none;
}

.contenedor__menus li a{
    padding: 14px 40px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color:rgb(192, 201, 195);
}

.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}

/* aside */

.left__aside{
    background-color: rgb(230, 233, 231);
    grid-area: l-aside;
}

.right__aside{
    background-color: rgb(230, 233, 231);
    grid-area: r-aside;
}

/* section */

/* section>destacados */

.right__section{
    background-color:rgb(230, 233, 231);
    grid-area: section;
}

.article__container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    flex: 70%;
}

.contenedor__destacados{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.contenedor__producto{
    width: 310px;
    height: 280px;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
}

.img__scale:hover{
    transform: scale(1.5);
}

.img__scale{
    transition-property: all;
    transition-duration: 1s;
}

.boton__carrito__estilo{
    background-color: rgb(120, 233, 180);
    padding: 3px;
    margin: 5px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.boton_descripcion_estilo{
    background-color: rgb(133, 187, 231);
    padding: 3px;
    margin: 3px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.precio_estilo{
    background-color: rgb(209, 224, 140);
    padding: 3px;
    margin: 3px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.contenedor__producto label, .contenedor__iframe label{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.contenedor__producto img{
    border: solid 1px black;
    margin: 10px;
}

h2{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    padding: 5px;
}

.flecha__style{
    color: rgb(57, 185, 68);
    font-size: 30px;
    padding: 5px;
}

.h2__reviews{
    margin-top: 50px;
}

.dropdown-item:hover{
    background-color: rgb(120, 233, 180);
}

/* section>reviews */
.contenedor__reviews{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contenedor__iframe{
    width: 410px;
    height: 350px;
    text-align: center;
    padding: 10px;
}

.contenedor__iframe iframe{
    margin: 10px;
}

/* footer */

.footer__bottom{
    background-color: #252424;
    grid-area: footer;
}

.footer__name{
    color: greenyellow;
    text-decoration: none;
}

.font__family__footer{
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}


.logo__redes img{
    width: 32px;
    padding: 5px;
    border-radius: 10px;
}

/* grid cointaner */

.grid__container{
    height: 100vh;
    margin: 0%;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 2fr 1fr 16fr 2fr;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "l-aside section r-aside"
    "footer footer footer";
}

/* tienda>categorias */
.contenedor__categorias{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color:white;
    font-size: 20px;
    padding: 15px;
}

/* contacto */
.bg__contactcard{
    background-color: rgb(230, 233, 231);
}

h4{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
}

.left__textcontact{
    font-size: 18px;
}

/* media queries */

@media all and (max-width: 768px){
    .grid__container{
        height: 100vh;
        margin: 0%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 10fr 25fr 2fr;
        grid-template-areas: 
        "header"
        "nav"
        "aside"
        "section"
        "footer";
    }

    .image__logo__width{
        display: none;
    }

    .separator__fullwidth{
        display: none;
    }

    .input__style{
        width: 23rem;
    }

    .contenedor__menus li a{
        padding: 1rem;
    }
}

@media all and (max-width: 1024px){
    .grid__container{
        height: 100vh;
        margin: 0%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 10fr 25fr 2fr;
        grid-template-areas: 
        "header"
        "nav"
        "aside"
        "section"
        "footer";
    }
    
    .aside__container{
        display: flex;
        flex: 30px;
        justify-content: center;
        padding: 2vh;
    }
}

@media all and (max-width: 1440px){
    .grid__container{
        height: 100vh;
        margin: 0%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 10fr 25fr 2fr;
        grid-template-areas: 
        "header"
        "nav"
        "aside"
        "section"
        "footer";
    }
}