.bg__contactcard{
    background-color: rgb(230, 233, 231);
}
h4{
    font-family: $fontgeneral;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
}
.left__textcontact{
    font-size: 18px;
}
.btn__contacto{
    background-color: rgb(57, 185, 68);
}